---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?key=<PIXABAY_KEY>&q=San%20Francisco&tags=city
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2498'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Reset:
      - '1800'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":500,"hits":[{"largeImageURL":"https://pixabay.com/get/55e8dd4a4b55b108f5d0846096293578123ad7e1514c704c732b7ed09448cd5f_1280.jpg","webformatHeight":426,"webformatWidth":640,"likes":565,"imageWidth":5580,"id":388917,"user_id":242387,"views":187153,"comments":65,"pageURL":"https://pixabay.com/photos/golden-gate-bridge-san-francisco-388917/","imageHeight":3720,"webformatURL":"https://pixabay.com/get/55e8dd4a4b55b108f5d0846096293578123ad7e1514c704c732b7ed09448cd5f_640.jpg","type":"photo","previewHeight":99,"tags":"golden
        gate bridge, san francisco, california","downloads":80925,"user":"Free-Photos","favorites":727,"imageSize":3768619,"previewWidth":150,"userImageURL":"https://cdn.pixabay.com/user/2014/05/07/00-10-34-2_250x250.jpg","previewURL":"https://cdn.pixabay.com/photo/2014/07/10/10/20/golden-gate-bridge-388917_150.jpg"},{"largeImageURL":"https://pixabay.com/get/54e1d5414952b108f5d0846096293578123ad7e1514c704c732b7ed09448cd5f_1280.jpg","webformatHeight":480,"webformatWidth":640,"likes":229,"imageWidth":4000,"id":210230,"user_id":12019,"views":77364,"comments":25,"pageURL":"https://pixabay.com/photos/san-francisco-california-city-210230/","imageHeight":3003,"webformatURL":"https://pixabay.com/get/54e1d5414952b108f5d084609629357812[...]
